/* -----------------------------------------------------------------------------
  Component: Customization for lightbox

  Style adjustments for the elements created by our custom extension:
  fortishield_doc_images.
----------------------------------------------------------------------------- */

#fortishield-light-box-overlay {
  z-index: 2000;
}
#fortishield-light-box {
  z-index: 2100;

  .fortishield-light-box-slides-container {
    padding: 60px;
    margin: 60px
  }

  .wlb-image {
    max-height: calc(100vh - 8rem - 40px);
    border: 10px solid $color-img-border;
  }
}

.fortishield-image-wrapper {
  display: inline;
}
